@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Define your CSS variables / theme values */
@theme {
  --color-background: #ffffff;
  /* text-neutral-800 */
  --color-neutral-8: #262626;

  /* text-neutral-600 */
  --color-neutral-6: #525252;

  --color-hover-shadow: #dadada;

  --color-theme-hover: #16161608;

  --color-btn-border: #e5e5e5;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05); /* Light mode */
}

.dark ::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Dark mode */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 50px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.2s ease;
}

@layer theme {
  .dark {
    --color-background: #000000;

    /* text-neutral-800 opposite */
    --color-neutral-8: #fff;

    /* text-neutral-600 opposite */
    --color-neutral-6: #c7c6c6;

    --color-theme-hover: #2b2828c7;

    --color-btn-border: #262626;
  }
}

@font-face {
  font-family: 'tooltip';
  src: url('./assets/fonts/03fc1b4a8d284b5e-s.p.af4fcd24.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Ownfont';
  src: url('./assets/fonts/99e609270109b47d-s.p.64b9304e.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'OwnfontBold';
  src: url('./assets/fonts/effe91970fc4db64-s.p.19510058.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@layer utilities {
  .main-container {
    @apply bg-background flex min-h-screen justify-center transition-colors;
  }

  .font-own {
    font-family: 'Ownfont', sans-serif;
  }

  .font-ownBold {
    font-family: 'OwnfontBold', sans-serif;
  }

  .font-tooltip {
    font-family: 'tooltip', sans-serif;
  }

  ul li {
    @apply text-neutral-6 text-sm leading-6 font-light md:text-[15px] md:leading-8;
  }

  .github-grid {
    display: grid;
    grid-template-columns: repeat(53, minmax(12px, 1fr));
    gap: 3px;
    width: 100%;
  }

  /* Mobile only */
  @media (max-width: 1023px) {
    .github-grid {
      grid-template-columns: repeat(53, 12px);
      width: max-content;
      /* this enables scrolling */
    }
  }

  .month-cell {
    grid-row: 1;
    height: 16px;
    font-size: 12px;
    text-align: center;
  }

  /* First row: month labels */
  .month-cell:nth-child(-n + 53) {
    align-self: end;
  }

  .day-cell {
    grid-row: auto;
    width: 11px;
    height: 11px;
    border-radius: 2px;
  }
}
