@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Define your CSS variables / theme values */
@theme {
  --color-bgBase: #ffffff;

  /* text-neutral-800 */
  --color-neutral-8: #262626;

  /* text-neutral-600 */
  --color-neutral-6: #525252;

  --color-hover-shadow: #dadada;

  --color-theme-hover: #16161608;

  --color-btn-border: #e5e5e5;
}

@layer theme {
  .dark {
    --color-bgBase: #000000;

    /* text-neutral-800 opposite */
    --color-neutral-8: #fff;

    /* text-neutral-600 opposite */
    --color-neutral-6: #c7c6c6;

    --color-theme-hover: #2b2828c7;

    --color-btn-border: #262626;
  }
}

@font-face {
  font-family: "tooltip";
  src: url("./assets/fonts/03fc1b4a8d284b5e-s.p.af4fcd24.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Ownfont";
  src: url("./assets/fonts/99e609270109b47d-s.p.64b9304e.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "OwnfontBold";
  src: url("./assets/fonts/effe91970fc4db64-s.p.19510058.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@layer utilities {
  .main-container {
    @apply min-h-screen bg-bgBase transition-colors flex justify-center;
  }

  .font-own {
    font-family: "Ownfont", sans-serif;
  }

  .font-ownBold {
    font-family: "OwnfontBold", sans-serif;
  }

  .font-tooltip {
    font-family: "tooltip", sans-serif;
  }
}
